<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kleynodsoft.mylvivua"
        version   = "0.1.0">

    <name>mylvivua 222</name>

    <description>
        mylvivua 222x1
    </description>

</widget>
